:root {
  color-scheme: dark;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap");

.flex-container {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  align-items: left;
  height: 100vh;
}


#map-container {
  flex: 1;
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.leaflet-container {
  width: 100vw;
  height: 100%;
}

.leaflet-container .leaflet-marker-pane img,
.leaflet-container .leaflet-shadow-pane img,
.leaflet-container .leaflet-tile-pane img,
.leaflet-container img.leaflet-image-layer,
.leaflet-container .leaflet-tile {
  max-width: none !important;
  max-height: none !important;
  width: 40px;
  height: 25px;
  padding: 1px;
}

.leaflet-tooltip {
  background: #243447;
  color: white;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 4px;
  border: none;
}

.leaflet-tooltip-right:before {
  border-right-color: #243447;
}

.leaflet-tooltip-left:before {
  border-left-color: #243447;
}

path.leaflet-interactive:focus{
  outline: none;
}

.hidden {
  display: none;
}

button:hover {
  background: #c51f5d;
  color: #243447;
}

button {
  background-color: #243447;
  border-radius: 8px;
  border-width: 0;
  color: #ffffff;
  cursor: pointer;
  padding: 15px 32px;
  display: inline-block;
  font-family: Ubuntu, "times new roman", times, roman, serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 3px;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

input:hover {
  background: #c51f5d;
  color: #243447;
}

::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: #ffffff;
}

input[type="text" i] {
  cursor: text;
  width: 30vw;
}

input {
  background-color: #243447;
  border-radius: 8px;
  border-width: 0;
  color: #ffffff;
  cursor: pointer;
  padding: 15px 32px;
  display: inline-block;
  font-family: Ubuntu, "times new roman", times, roman, serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 2px;
  padding: 10px 12px;
  text-align: left;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: normal;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

pre {
  white-space: pre-wrap;
  font-family: Ubuntu, "times new roman", times, roman, serif;
}



.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: rgb(20, 29, 38);
  color: white;
  box-shadow: 0 3px 14px rgb(0 0 0 / 40%);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  font-family: Ubuntu, "times new roman", times, roman, serif;
  background-color: rgb(20, 29, 38);
  color: rgb(255, 255, 255);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
